* {background-color: darkcyan;
    margin : 0;
    padding: 0;
    align-items: center;
  
}
.head{

    text-align: center;
    color: black;
}

#table{
    position: relative;
    margin-top: 3%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: black solid 2px;
    padding: 2%;
}